{#
/**
 * @file event_registration.html.twig
 * Default theme implementation to present Registration data.
 *
 * This template is used when viewing Registration pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_event_registration()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('event_registration') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
